{:paths ["src/main"]

 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        fr.jeremyschoffen/dolly {:mvn/version "0"}}

 :aliases
 {:build {:extra-paths ["src/build" "src/doc"]
          :extra-deps {fr.jeremyschoffen/textp-doc-alpha {:mvn/version "0"}
                       fr.jeremyschoffen/mbt-alpha {:mvn/version "0"
                                                    :exclusions [fr.jeremyschoffen/clj-nio-alpha]}}}

  :nrepl {:extra-deps {nrepl/nrepl {:mvn/version "0.8.0"}}}

  :dev {:extra-paths ["dev"]}

  :test {:extra-paths ["test"]
         :extra-deps {metosin/testit {:mvn/version "0.4.0"}
                      lambdaisland/kaocha {:mvn/version "0.0-541"}}}}}