{:paths ["src/main"]

 :deps {org.clojure/clojure {:mvn/version "1.10.1"}}

 :aliases
 {:build {:extra-paths ["bin" "doc"]
          :extra-deps {fr.jeremyschoffen/mbt-alpha {:mvn/version "0"
                                                    :exclusions [fr.jeremyschoffen/clj-nio-alpha]}}}

  :dev {:extra-paths ["dev"]}

  :test {:extra-paths ["test"]
         :extra-deps {metosin/testit {:mvn/version "0.4.0"}
                      lambdaisland/kaocha {:mvn/version "0.0-541"}}}}}